.page {
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 129, 129);
    padding: 1rem;
    width: 100%;
    min-height: 100vh;
}
.sidebar{
    color:aqua;
    top:0px;
}
.time{
    font-size:5rem;
}