.home-section {
  padding: 40px;
  min-height: 100vh;
  background: linear-gradient(135deg, #82dae2, #ebedee);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.section-title {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
  color: #333;
  font-weight: 600;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.custom-card {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  width: 220px;
  padding: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.custom-card:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card-image {
  width: auto;
  height: 100px;
  object-fit: contain;
  margin-bottom: 15px;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  color: #444;
}
